body {
    background: #000;
}

#workoutBody {
    background: #FFF;
}

.exercise_buttons {
    width: 100%;
}

#plus_icon {
    width: 200px;
    display: block;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;

}
