body {
    background: #000;
}

#workoutBody {
    background: #FFF;
}

.exercise_buttons {
    width: 100%;
}

#plus_icon {
    width: 200px;
    display: block;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.workoutOverview {
    display: flex;
    flex-wrap: wrap; /* Bilder fließen auch nebeneinander bei variabler Fenstergröße */
    justify-content: center; /* Setzt kontent in die Mitte. Mittig statt Linksbündig */
}

.card-body {
    width: 300px;
    height: 450px;
    background: rgba(255,255,255,0);
    border: 4px solid black;    /* border-width border-style border-color */
    border-radius: 8px;        /* Runde Ecken der Card-Div Box */
    margin: 7px;
    transition: transform 0.3s; /* um Hover effekt smooth zu machen */
    position: relative;
    cursor: pointer;
}